*{
	box-sizing: border-box;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}



@media only screen and (max-width: 900px)  {
	
	
	.glavni, .sporedni
	{
		width:90% !important;
		clear:both !important;
		float: none !important;
		min-height:100px !important;
	}
	
	h1
	{
		font-size:30px !important;
	}
	
}



.zaglavlje
{
		margin-left: 13%;
		margin-right: 13%;
		padding-top:4%;
}

.glavni
{
	min-height: 600px;
	width:60%;
	float:left;
	padding:10px;
	border:20px;
	margin:20px;
}

.sporedni
{
	float: right;
	width: 25%;
	min-height:400px;
	padding:10px;
	border:20px;
	margin:20px;
}
.navigation
{
	height:50px;
	padding:7%;
	padding-top:3%;
	font-size: 20px;
	margin-bottom:60px;
	margin-top: 60px;
}
.container
{
	width: 100%;
	margin: 0 auto 0 auto;
	border:0px;
	padding:0px;
	margin:0px;
	
}

h1
	{
		font-family:Arial;
		text-align: center;
		font-size:34px;
	}
#naslovna_slika
{
	width:100%;
	height:360px;
}


#slikamonte
{
	width:100%;
	height:400px;
}